html, body {
	height: 100%
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #ffffff;
}

#random {

}

#blank {

}

#input {

}

#solve {

}

#animate {

}

#reset {

}

#puzzle {
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

#solution {
	margin-right: auto;
	margin-left: auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;
}

.puzzlebox {
	border-radius: 5px;
	text-align: center;
	height: 40px;
	width: 40px;
	margin: 0;
	padding: 0;
	border: solid black 1px;
}

.solutionbox {
	border-radius: 5px;
	text-align: center;
	height: 20px;
	width: 20px;
	margin: 0;
	padding: 0;
	border: solid black 1px;
}

h1, form, p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

